
.header-icons {
	font-size  : 20px;
	color      : blue;
	margin-left: 4px;
	position   : sticky;
	top        : 2px;
}


.outer-icons {
	font-size: 30px;
    color: blue;
    margin-top: 8px;
    position: fixed;
}

.refresh-icons {
	font-size: 30px;
    color: red;
    margin-top: 8px;
    position: fixed;
    cursor: pointer;
}

.check{
    margin-left:30px;
}

.table-header{
   background-color: aliceblue;
}

.datatable-header {
    background-color: antiquewhite;
    display: block;
    overflow: hidden;
    height: 30px;
    padding: 2px 0px 0px 2px;
}

.select-align {
    padding-left  : 5px;
    font-size: 12px;
    position : relative;
  }
  


  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin-left: 4px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: orangered;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px orangered;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 30%;
  }

  datatable-body-row.disabled-row{
    width: 100% !important;
    background-color: antiquewhite;
  }

  .empty-cell-height{
    min-height: 25px;
    }

    .error{
      /* background-color: red;
       */
       /* width: 100%;
       height:10%; */
       padding: 5px;
       /* border: 1px solid red; */
       color: red;
    }